{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Products
{% endblock title %}

{% block content %}
    <h1> Все товары </h1>
    <h2>{{time_now|date:'d M Y l'}}</h2>
    <h3>{% current_time '%d %b %Y %A' %}</h3>
    <h3>{{next_sale|default_if_none:"Чуть позже сообщим о двапродаже."}}</h3>
    <hr>
    {% if products %}
        <table>
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td>Количество</td>
                <td>Категория</td>
                <td>Цена</td>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description|censor}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price|currency:"usd"}}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h2> Нет товаров! </h2>
    {% endif %}
{% endblock content %}
