<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><span style="background-color: #339966;">Привет!</span></p>
<p><span style="color: #00ff00;">Меня зовут Михаил Лебедев.</span></p>
<p style="text-align: justify;"><strong>И сегодня я хочу Вам</strong> <em>представить свою</em> <span style="text-decoration: underline;">мотивационную</span> <em><strong>модель</strong></em> <span style="text-decoration: underline;"><em>каждодневного</em></span> <strong><span style="text-decoration: underline;">выполения</span></strong> <span style="text-decoration: underline;"><em><strong>рутинных операций</strong></em></span> и как не сдохнуть от постоянного пересиливания себя.</p>
<hr />
<p>18:26:06</p>
<p>2023-04-10</p>
<table style="width: 338px; height: 146px;">
<tbody>
<tr>
<td style="width: 99.9062px;">2) Во-вторых.</td>
<td style="width: 107.031px;">&nbsp;</td>
<td style="width: 109.062px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 99.9062px;">3) В-третьих.</td>
<td style="width: 107.031px;">&nbsp;</td>
<td style="width: 109.062px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">и т.д.</p>
</body>
</html>